langchain
openai
pypdf
sentence-transformers
torch
tabulate
streamlit-feedback
streamlit
docarray
hnswlib
langchain-openai
numexpr
langchainhub
langchain-openai
spacy
requests
chromadb
pinecone
langchain-pinecone
beautifulsoup4
tabulate
langchain-community
langchain-experimental
